flow.json
[{"id":"3423f99d.39aea6","type":"tab","label":"network client test","disabled":false,"info":""},{"id":"da743eeb.36b97","type":"mqtt-broker","z":"3423f99d.39aea6","name":"","broker":"${mqtt_server}","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cda6efce.17c7c","type":"mqtt out","z":"3423f99d.39aea6","name":"","topic":"","qos":"","retain":"","broker":"da743eeb.36b97","x":930,"y":300,"wires":[]},{"id":"b056b0df.36a72","type":"adv ping","z":"3423f99d.39aea6","name":"","host":"","x":640,"y":120,"wires":[["f7ac1a9c.1983e8"]]},{"id":"e0a99974.14f498","type":"inject","z":"3423f99d.39aea6","name":"ping nuc_jan","topic":"","payload":"{\"host\":\"192.168.1.131\",\"to_hostname\":\"nuc_jan\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":120,"wires":[["21620332.20074c"]]},{"id":"f7ac1a9c.1983e8","type":"change","z":"3423f99d.39aea6","name":"calc delta_ms and incr counters","rules":[{"t":"set","p":"count","pt":"msg","to":"count+1","tot":"jsonata"},{"t":"set","p":"delta_ms","pt":"msg","to":"$toMillis($now())-timestamp","tot":"jsonata"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"time_ms","pt":"msg","to":"time_ms+delta_ms","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["b14e9848.4097e8"]]},{"id":"21620332.20074c","type":"change","z":"3423f99d.39aea6","name":"init counters, host, to_hostname","rules":[{"t":"set","p":"host","pt":"msg","to":"payload.host","tot":"msg"},{"t":"set","p":"hostname","pt":"msg","to":"payload.to_hostname","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"time_ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"count_not_available","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"time_not_available_ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"count_less_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"count_more_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"time_more_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"ping_time_less_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"ping_time_more_than_40ms","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":120,"wires":[["b056b0df.36a72"]]},{"id":"a7d421b6.aa722","type":"delay","z":"3423f99d.39aea6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":220,"wires":[["b056b0df.36a72"]]},{"id":"84db3b38.9e3288","type":"change","z":"3423f99d.39aea6","name":"incr for not available","rules":[{"t":"set","p":"count_not_available","pt":"msg","to":"count_not_available+1","tot":"jsonata"},{"t":"set","p":"time_not_available_ms","pt":"msg","to":"time_not_available_ms+delta_ms","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["a314d965.22a4a8"]]},{"id":"b14e9848.4097e8","type":"switch","z":"3423f99d.39aea6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"gt","v":"40","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":300,"wires":[["84db3b38.9e3288"],["9a56c67d.6bafc8"],["83ef3d29.3e5aa"]]},{"id":"9a56c67d.6bafc8","type":"change","z":"3423f99d.39aea6","name":"incr for more than 40 ms","rules":[{"t":"set","p":"count_more_than_40ms","pt":"msg","to":"count_more_than_40ms+1","tot":"jsonata"},{"t":"set","p":"time_more_than_40ms","pt":"msg","to":"time_more_than_40ms+delta_ms","tot":"jsonata"},{"t":"set","p":"ping_time_more_than_40ms","pt":"msg","to":"ping_time_more_than_40ms+payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["a314d965.22a4a8"]]},{"id":"83ef3d29.3e5aa","type":"change","z":"3423f99d.39aea6","name":"incr for less than 40 ms","rules":[{"t":"set","p":"count_less_than_40ms","pt":"msg","to":"count_less_than_40ms+1","tot":"jsonata"},{"t":"set","p":"ping_time_less_than_40ms","pt":"msg","to":"ping_time_less_than_40ms+payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["a314d965.22a4a8"]]},{"id":"dc46beb0.45811","type":"mqtt in","z":"3423f99d.39aea6","name":"","topic":"/ping","qos":"2","datatype":"auto","broker":"da743eeb.36b97","x":110,"y":420,"wires":[["4b2674e1.059fbc"]]},{"id":"2e35ec7d.dd2634","type":"debug","z":"3423f99d.39aea6","name":"mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":420,"wires":[]},{"id":"a314d965.22a4a8","type":"change","z":"3423f99d.39aea6","name":"prep mqtt","rules":[{"t":"set","p":"topic","pt":"msg","to":"/ping","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\t  \"from_hostname\":$flowContext(\"from_hostname\"),\t  \"to_hostname\":hostname,\t  \"to_host\":host,\t  \"count\": count,\t  \"count_less_than_40ms\": count_less_than_40ms,\t  \"count_more_than_40ms\": count_more_than_40ms,\t  \"count_not_available\": count_not_available,\t  \"time_ms\": time_ms,\t  \"time_more_than_40ms\": time_more_than_40ms,\t  \"time_not_available_ms\": time_not_available_ms,\t  \"ping_time_less_than_40ms\": ping_time_less_than_40ms,\t  \"ping_time_more_than_40ms\": ping_time_more_than_40ms\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["a7d421b6.aa722","648f47a9.9b7ca8","cda6efce.17c7c"]]},{"id":"648f47a9.9b7ca8","type":"debug","z":"3423f99d.39aea6","name":"mqtt message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":260,"wires":[]},{"id":"4b2674e1.059fbc","type":"json","z":"3423f99d.39aea6","name":"","property":"payload","action":"","pretty":false,"x":250,"y":420,"wires":[["2e35ec7d.dd2634"]]},{"id":"c28be0a3.0ad66","type":"inject","z":"3423f99d.39aea6","name":"","topic":"","payload":"pi3one","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["9fd3231f.940f1"]]},{"id":"9fd3231f.940f1","type":"change","z":"3423f99d.39aea6","name":"","rules":[{"t":"set","p":"from_hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":40,"wires":[[]]},{"id":"9a3e1211.d93df","type":"comment","z":"3423f99d.39aea6","name":"test mqtt","info":"","x":100,"y":380,"wires":[]}]