flow.json
[{"id":"3423f99d.39aea6","type":"tab","label":"network client test","disabled":false,"info":""},{"id":"7d60bcb1.eec004","type":"tab","label":"network client UI","disabled":false,"info":""},{"id":"da743eeb.36b97","type":"mqtt-broker","z":"3423f99d.39aea6","name":"","broker":"${mqtt_server}","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8992b60.43fb78","type":"ui_tab","z":"","name":"network client test","icon":"dashboard","disabled":false,"hidden":false},{"id":"4584a9b8.2543b8","type":"ui_group","z":"","name":"stats","tab":"d8992b60.43fb78","disp":false,"width":"6","collapse":false},{"id":"99da2b74.2fe918","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf0dd9cb.4bd218","type":"ui_group","z":"","name":"Availability chart","tab":"d8992b60.43fb78","order":2,"disp":true,"width":"14","collapse":false},{"id":"cda6efce.17c7c","type":"mqtt out","z":"3423f99d.39aea6","name":"","topic":"","qos":"","retain":"","broker":"da743eeb.36b97","x":890,"y":520,"wires":[]},{"id":"b056b0df.36a72","type":"adv ping","z":"3423f99d.39aea6","name":"","host":"","x":640,"y":200,"wires":[["f7ac1a9c.1983e8","a901e7cc.728de8"]]},{"id":"f7ac1a9c.1983e8","type":"change","z":"3423f99d.39aea6","name":"calc delta_ms and incr counters","rules":[{"t":"set","p":"count","pt":"msg","to":"count+1","tot":"jsonata"},{"t":"set","p":"delta_ms","pt":"msg","to":"$toMillis($now())-timestamp","tot":"jsonata"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"time_ms","pt":"msg","to":"time_ms+delta_ms","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["b14e9848.4097e8"]]},{"id":"21620332.20074c","type":"change","z":"3423f99d.39aea6","name":"init counters, host, to_hostname","rules":[{"t":"set","p":"host","pt":"msg","to":"payload.host","tot":"msg"},{"t":"set","p":"hostname","pt":"msg","to":"payload.to_hostname","tot":"msg"},{"t":"set","p":"start_timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"time_ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"count_not_available","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"time_not_available_ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"count_less_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"count_more_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"time_more_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"ping_time_less_than_40ms","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"ping_time_more_than_40ms","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["b056b0df.36a72"]]},{"id":"a7d421b6.aa722","type":"delay","z":"3423f99d.39aea6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":320,"wires":[["b056b0df.36a72"]]},{"id":"84db3b38.9e3288","type":"change","z":"3423f99d.39aea6","name":"incr for not available","rules":[{"t":"set","p":"count_not_available","pt":"msg","to":"count_not_available+1","tot":"jsonata"},{"t":"set","p":"time_not_available_ms","pt":"msg","to":"time_not_available_ms+delta_ms","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["30403f36.708aa"]]},{"id":"b14e9848.4097e8","type":"switch","z":"3423f99d.39aea6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"gt","v":"40","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":250,"y":400,"wires":[["84db3b38.9e3288"],["9a56c67d.6bafc8"],["83ef3d29.3e5aa"]]},{"id":"9a56c67d.6bafc8","type":"change","z":"3423f99d.39aea6","name":"incr for more than 40 ms","rules":[{"t":"set","p":"count_more_than_40ms","pt":"msg","to":"count_more_than_40ms+1","tot":"jsonata"},{"t":"set","p":"time_more_than_40ms","pt":"msg","to":"time_more_than_40ms+delta_ms","tot":"jsonata"},{"t":"set","p":"ping_time_more_than_40ms","pt":"msg","to":"ping_time_more_than_40ms+payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["30403f36.708aa"]]},{"id":"83ef3d29.3e5aa","type":"change","z":"3423f99d.39aea6","name":"incr for less than 40 ms","rules":[{"t":"set","p":"count_less_than_40ms","pt":"msg","to":"count_less_than_40ms+1","tot":"jsonata"},{"t":"set","p":"ping_time_less_than_40ms","pt":"msg","to":"ping_time_less_than_40ms+payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":440,"wires":[["30403f36.708aa"]]},{"id":"dc46beb0.45811","type":"mqtt in","z":"3423f99d.39aea6","name":"","topic":"/ping","qos":"2","datatype":"auto","broker":"da743eeb.36b97","x":90,"y":620,"wires":[["4b2674e1.059fbc"]]},{"id":"2e35ec7d.dd2634","type":"debug","z":"3423f99d.39aea6","name":"mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":620,"wires":[]},{"id":"a314d965.22a4a8","type":"change","z":"3423f99d.39aea6","name":"prep mqtt","rules":[{"t":"set","p":"topic","pt":"msg","to":"/ping","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\t  \"start_timestamp\":start_timestamp,\t  \"from_hostname\":$flowContext(\"from_hostname\"),\t  \"to_hostname\":hostname,\t  \"to_host\":host,\t  \"count\": count,\t  \"count_less_than_40ms\": count_less_than_40ms,\t  \"count_more_than_40ms\": count_more_than_40ms,\t  \"count_not_available\": count_not_available,\t  \"time_ms\": time_ms,\t  \"time_more_than_40ms\": time_more_than_40ms,\t  \"time_not_available_ms\": time_not_available_ms,\t  \"ping_time_less_than_40ms\": ping_time_less_than_40ms,\t  \"ping_time_more_than_40ms\": ping_time_more_than_40ms\t}\t/* input example\t{\t    \"topic\": \"192.168.1.252\",\t    \"payload\": 4.8,\t    \"_msgid\": \"2b91ffeb.62823\",\t    \"host\": \"192.168.1.252\",\t    \"hostname\": \"tp_link1\",\t    \"start_timestamp\": 1583580640954,\t    \"count\": 106,\t    \"time_ms\": 111165,\t    \"count_not_available\": 0,\t    \"time_not_available_ms\": 0,\t    \"count_less_than_40ms\": 106,\t    \"count_more_than_40ms\": 0,\t    \"time_more_than_40ms\": 0,\t    \"timestamp\": 1583580752160,\t    \"ping_time_less_than_40ms\": 336.51999999999987,\t    \"ping_time_more_than_40ms\": 0,\t    \"_payload\": 4.75,\t    \"_topic\": \"192.168.1.252\",\t    \"delta_ms\": 1056\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[["648f47a9.9b7ca8","cda6efce.17c7c","5d93fe07.1e423"]]},{"id":"648f47a9.9b7ca8","type":"debug","z":"3423f99d.39aea6","name":"mqtt message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":480,"wires":[]},{"id":"4b2674e1.059fbc","type":"json","z":"3423f99d.39aea6","name":"","property":"payload","action":"","pretty":false,"x":230,"y":620,"wires":[["2e35ec7d.dd2634"]]},{"id":"c28be0a3.0ad66","type":"inject","z":"3423f99d.39aea6","name":"","topic":"","payload":"nuc_jan","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":80,"wires":[["9fd3231f.940f1"]]},{"id":"9fd3231f.940f1","type":"change","z":"3423f99d.39aea6","name":"","rules":[{"t":"set","p":"from_hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[[]]},{"id":"9a3e1211.d93df","type":"comment","z":"3423f99d.39aea6","name":"test mqtt","info":"","x":80,"y":580,"wires":[]},{"id":"3fa7fb14.e6fc34","type":"delay","z":"3423f99d.39aea6","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":540,"y":520,"wires":[["a314d965.22a4a8"]]},{"id":"30403f36.708aa","type":"function","z":"3423f99d.39aea6","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["3fa7fb14.e6fc34","a7d421b6.aa722","91805f3a.7f2d3"]]},{"id":"aee566c8.33baf8","type":"inject","z":"3423f99d.39aea6","name":"ping tp_link1","topic":"","payload":"{\"host\":\"192.168.1.252\",\"to_hostname\":\"tp_link1\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":180,"wires":[["21620332.20074c"]]},{"id":"91805f3a.7f2d3","type":"debug","z":"3423f99d.39aea6","name":"input rate limit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":400,"wires":[]},{"id":"5d93fe07.1e423","type":"link out","z":"3423f99d.39aea6","name":"output network client test","links":["20c94709.cb1ea8"],"x":855,"y":600,"wires":[]},{"id":"6ffc2d3d.fa9d94","type":"debug","z":"7d60bcb1.eec004","name":"input network client ui","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":180,"y":240,"wires":[]},{"id":"20c94709.cb1ea8","type":"link in","z":"7d60bcb1.eec004","name":"input network client ui","links":["5d93fe07.1e423"],"x":195,"y":300,"wires":[["6ffc2d3d.fa9d94","b6d41b02.bc65f8","3f3baa10.3f07b6"]]},{"id":"a77e2723.f50348","type":"debug","z":"7d60bcb1.eec004","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":180,"wires":[]},{"id":"b6d41b02.bc65f8","type":"function","z":"7d60bcb1.eec004","name":"store payload in flow context  \"prev_msgs[msg.payload.to_hostname]\"","func":"msgs=flow.get(\"prev_msgs\");\nmsgs[msg.payload.to_hostname]=msg.payload;\nflow.set(\"prev_msgs\",msgs);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["a77e2723.f50348","ac7d370f.3cd8a8"]]},{"id":"57bd4ee.6445fb","type":"inject","z":"7d60bcb1.eec004","name":"init at start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":40,"wires":[["3ba6339a.2bb1cc"]]},{"id":"3ba6339a.2bb1cc","type":"change","z":"7d60bcb1.eec004","name":"set flow.prev_msgs={}","rules":[{"t":"set","p":"prev_msgs","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":40,"wires":[[]]},{"id":"e9effab2.011c18","type":"ui_dropdown","z":"7d60bcb1.eec004","name":"to_hostname dropdown","label":"hostname","tooltip":"","place":"Select option","group":"4584a9b8.2543b8","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":280,"wires":[["6cdc52c0.e15c4c"]]},{"id":"ac7d370f.3cd8a8","type":"change","z":"7d60bcb1.eec004","name":"get to_hostnames","rules":[{"t":"set","p":"payload","pt":"msg","to":"prev_msgs","tot":"flow"},{"t":"set","p":"options","pt":"msg","to":"$keys(payload)\t/* example input\t{\t    \"payload\": {\t        \"nuc_jan\": {\t            \"start_timestamp\": 1583574138398,\t            \"from_hostname\": \"pi3one\",\t            \"to_hostname\": \"nuc_jan\",\t            \"to_host\": \"192.168.1.131\",\t            \"count\": 9,\t            \"count_less_than_40ms\": 9,\t            \"count_more_than_40ms\": 0,\t            \"count_not_available\": 0,\t            \"time_ms\": 8489,\t            \"time_more_than_40ms\": 0,\t            \"time_not_available_ms\": 0,\t            \"ping_time_less_than_40ms\": 40.12,\t            \"ping_time_more_than_40ms\": 0\t        },\t        \"tp_link1\": {\t            \"start_timestamp\": 1583574138444,\t            \"from_hostname\": \"pi3one\",\t            \"to_hostname\": \"tp_link1\",\t            \"to_host\": \"192.168.1.257\",\t            \"count\": 9,\t            \"count_less_than_40ms\": 0,\t            \"count_more_than_40ms\": 0,\t            \"count_not_available\": 9,\t            \"time_ms\": 8448,\t            \"time_more_than_40ms\": 0,\t            \"time_not_available_ms\": 8448,\t            \"ping_time_less_than_40ms\": 0,\t            \"ping_time_more_than_40ms\": 0\t        }\t    }\t}\t*/","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"to_hostname","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["e9effab2.011c18"]]},{"id":"6cdc52c0.e15c4c","type":"change","z":"7d60bcb1.eec004","name":"","rules":[{"t":"set","p":"to_hostname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":280,"wires":[[]]},{"id":"efb46141.3288b","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":2,"width":0,"height":0,"name":"datetime started counting","label":"started @","format":"{{msg.payload.start_timestamp| date : \"yyyy-MM-dd   HH:MM:ss\" }}","layout":"row-spread","x":890,"y":380,"wires":[]},{"id":"3f3baa10.3f07b6","type":"switch","z":"7d60bcb1.eec004","name":"hostname matched ?","property":"payload.to_hostname","propertyType":"msg","rules":[{"t":"eq","v":"to_hostname","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":440,"wires":[["b6088d4c.5ec6e","fde1e8f.08c4918","450b87cc.b2c528","8db9790b.62c188","6df81b33.90a3c4","efb46141.3288b"]]},{"id":"b6088d4c.5ec6e","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":3,"width":0,"height":0,"name":"","label":"host","format":"{{msg.payload.to_host}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"fde1e8f.08c4918","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":4,"width":0,"height":0,"name":"","label":"count","format":"{{msg.payload.count}}","layout":"row-spread","x":830,"y":460,"wires":[]},{"id":"450b87cc.b2c528","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":5,"width":0,"height":0,"name":"","label":"total time [ms]","format":"{{msg.payload.time_ms}}","layout":"row-spread","x":860,"y":500,"wires":[]},{"id":"f9b6d659.fc4cd8","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":6,"width":0,"height":0,"name":"","label":"avg ping [ms]","format":"{{msg.stats.average_ping_ms | number:2 }}","layout":"row-spread","x":860,"y":560,"wires":[]},{"id":"8db9790b.62c188","type":"change","z":"7d60bcb1.eec004","name":"","rules":[{"t":"set","p":"stats","pt":"msg","to":"{\t   \"average_ping_ms\" : (payload.ping_time_less_than_40ms + payload.ping_time_more_than_40ms) / \t                       (payload.count_less_than_40ms + payload.count_more_than_40ms),\t   \"average_ping_ms_less_than_40ms\" : payload.ping_time_less_than_40ms / payload.count_less_than_40ms,\t   \"average_ping_ms_more_than_40ms\":  payload.ping_time_more_than_40ms / payload.count_more_than_40ms,\t   \"unavailability_percentage\" :      payload.time_not_available_ms/time_ms,\t   \"more_than_40ms_percentage\" :      payload.time_more_than_40ms/time_ms\t}\t/* input example\t{\t    \"topic\": \"/ping\",\t    \"payload\": {\t        \"start_timestamp\": 1583577287970,\t        \"from_hostname\": \"pi3one\",\t        \"to_hostname\": \"nuc_jan\",\t        \"to_host\": \"192.168.1.131\",\t        \"count\": 9,\t        \"count_less_than_40ms\": 9,\t        \"count_more_than_40ms\": 0,\t        \"count_not_available\": 0,\t        \"time_ms\": 8469,\t        \"time_more_than_40ms\": 0,\t        \"time_not_available_ms\": 0,\t        \"ping_time_less_than_40ms\": 38.60999999999999,\t        \"ping_time_more_than_40ms\": 0\t    },\t    \"_msgid\": \"1414b0d9.8445cf\",\t    \"host\": \"192.168.1.131\",\t    \"hostname\": \"nuc_jan\",\t    \"start_timestamp\": 1583577287970,\t    \"count\": 9,\t    \"time_ms\": 8469,\t    \"count_not_available\": 0,\t    \"time_not_available_ms\": 0,\t    \"count_less_than_40ms\": 9,\t    \"count_more_than_40ms\": 0,\t    \"time_more_than_40ms\": 0,\t    \"timestamp\": 1583577296444,\t    \"ping_time_less_than_40ms\": 38.60999999999999,\t    \"ping_time_more_than_40ms\": 0,\t    \"_payload\": 5.23,\t    \"_topic\": \"192.168.1.131\",\t    \"delta_ms\": 1056,\t    \"_event\": \"node:5d93fe07.1e423\"\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":560,"wires":[["e5bcbcd8.7b1b","f9b6d659.fc4cd8","6bd9a12e.666a6","752356c8.4fa388","42ef187b.f6a128","3ccf42de.d1bf7e"]]},{"id":"e5bcbcd8.7b1b","type":"debug","z":"7d60bcb1.eec004","name":"with stats","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":520,"wires":[]},{"id":"6df81b33.90a3c4","type":"debug","z":"7d60bcb1.eec004","name":"hostname matched","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":400,"wires":[]},{"id":"6bd9a12e.666a6","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":7,"width":0,"height":0,"name":"","label":"avg ping < 40 [ms]","format":"{{msg.stats.average_ping_ms_less_than_40ms | number:2}}","layout":"row-spread","x":870,"y":600,"wires":[]},{"id":"752356c8.4fa388","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":8,"width":0,"height":0,"name":"","label":"avg ping > 40 [ms]","format":"{{ stats.average_ping_ms_more_than_40ms  | number:2 }}","layout":"row-spread","x":870,"y":640,"wires":[]},{"id":"42ef187b.f6a128","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":9,"width":0,"height":0,"name":"","label":"unavailability","format":"{{msg.stats.unavailability_percentage *100 | number:3 }}%","layout":"row-spread","x":850,"y":680,"wires":[]},{"id":"3ccf42de.d1bf7e","type":"ui_text","z":"7d60bcb1.eec004","group":"4584a9b8.2543b8","order":10,"width":0,"height":0,"name":"","label":"more than 40ms ","format":"{{msg.stats.more_than_40ms_percentage *100 | number:3 }}%","layout":"row-spread","x":860,"y":720,"wires":[]},{"id":"1612211e.56404f","type":"ui_chart","z":"7d60bcb1.eec004","name":"availability chart","group":"cf0dd9cb.4bd218","order":1,"width":"14","height":"4","label":"unavailability = 1 , high ping (> 40ms) = 0.5","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":720,"wires":[[]]},{"id":"e576d099.98a3","type":"change","z":"7d60bcb1.eec004","name":"set topic & payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"hostname","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"(payload=false ? 1 : (payload > 40 ? 0.5 : 0))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":720,"wires":[["1612211e.56404f","3933ebad.b57eb4"]]},{"id":"a901e7cc.728de8","type":"link out","z":"3423f99d.39aea6","name":"ping node output","links":["fc7de1bd.c3389"],"x":875,"y":200,"wires":[]},{"id":"fc7de1bd.c3389","type":"link in","z":"7d60bcb1.eec004","name":"Chart input network client ui","links":["a901e7cc.728de8"],"x":195,"y":720,"wires":[["5bcaafb9.490bd","e576d099.98a3","d16bde94.b812a"]]},{"id":"5bcaafb9.490bd","type":"debug","z":"7d60bcb1.eec004","name":"chart input network client ui","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":660,"wires":[]},{"id":"3933ebad.b57eb4","type":"debug","z":"7d60bcb1.eec004","name":"availability","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":660,"wires":[]},{"id":"95987aec.3afd98","type":"ui_chart","z":"7d60bcb1.eec004","name":"ping chart (max = 40 ms)","group":"cf0dd9cb.4bd218","order":1,"width":"14","height":"9","label":"ping times [ms] (max = 40 ms)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":760,"wires":[[]]},{"id":"d16bde94.b812a","type":"change","z":"7d60bcb1.eec004","name":"set topic & payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"hostname","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"(payload=false ? 5000 : payload )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":760,"wires":[["95987aec.3afd98","b46ca56a.0902a8"]]},{"id":"b46ca56a.0902a8","type":"ui_chart","z":"7d60bcb1.eec004","name":"ping chart (no max)","group":"cf0dd9cb.4bd218","order":1,"width":"14","height":"9","label":"ping times [ms]","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":800,"wires":[[]]},{"id":"b787bcd3.b27c2","type":"inject","z":"3423f99d.39aea6","name":"ping pi3two_wan","topic":"","payload":"{\"host\":\"192.168.1.26\",\"to_hostname\":\"pi3two_wan\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":220,"wires":[["21620332.20074c"]]},{"id":"19f84d4.caad2b3","type":"comment","z":"3423f99d.39aea6","name":"Set from_hostname in below inject node !","info":"The hostname of the machine running this node-red flow should be set in the payload of the below inject node.\n\nThis hostname is a logical name.  So it should not be a proper hostname that you can ping to.\n\nThis hostname will appear as `from_hostname` in the payload of the mqtt messages sent by this flow.","x":200,"y":40,"wires":[]},{"id":"d1500dac.e311f","type":"comment","z":"3423f99d.39aea6","name":"Update below inject nodes !","info":"Update the below inject nodes.\nThese inject nodes specify all the hosts that this flow should ping on regular basis.\n\nThese inject nodes have a payload with following format:\n\n`{\n     \"host\": \"IP_ADDR or HOSTNAME\",\n     \"to_hostname\": \"LOGICAL_NAME\"\n}`\n\n - where `IP_ADDR or HOSTNAME` should be replaced by the actual IP address or hostname of the node you want to ping to.\n - where `LOGICAL_NAME`shoud be replaced by a logical shortname for the host to ping.  This logical shortname will appear as `to_hostname` in the payload of the mqtt messages generated by this flow.\n\n","x":160,"y":140,"wires":[]},{"id":"7b8ce6cb.4d3c48","type":"inject","z":"3423f99d.39aea6","name":"ping google.be","topic":"","payload":"{\"host\":\"www.google.be\",\"to_hostname\":\"google.be\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":120,"y":260,"wires":[["21620332.20074c"]]}]